* {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #750000 #3C3CEB;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    
    background-color: gray;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    
    background-color: black;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 255, 0);
  }
  
  
  

header {
    height: 10%;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#MUSICLIFE {
    text-decoration: none;
    color: white;
}

#MUSICLIFE:hover{
    color: rgb(0, 255, 0);
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: system-ui, Helvetica, Arial, sans-serif;
    background: black;
    height: 12vh;
    width: 100%;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;

}

#barra-pesquisa {
    height: 50%;
    width: 60%;
}

.btn {
    height: 50%;
    width: 3%;
    border-radius: 20px;
    border: white;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
}

#abrir-o-app {
    height: 50%;
    width: 15%;
    border-radius: 20px;
    border: white;
    cursor: pointer;
}

#abrir-o-app:hover {
    opacity: 0.7;
}

#settings {
    height: 50%;
    width: 3%;
    border-radius: 20px;
    border: white;
    cursor: pointer;
}

#settings:hover {
    opacity: 0.7;
}

main{
    height: 90vh;
    background: linear-gradient(rgb(19, 18, 18), rgb(103, 98, 98));
}

#Titulo{
    color: white;
    padding: 1rem;
    margin-left: 1rem;
    font-family: system-ui, Helvetica, Arial, sans-serif; 
}

#Titulo:hover{
    color: rgb(0, 255, 0);  
}

#container1 {
    background-color: rgb(10, 10, 10);
    height: 8vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: system-ui, Helvetica, Arial, sans-serif;
    left: 0%;
}

#home {
    color: white;
    text-decoration: none;
    transition: transform 0.5s;
    transform: translate(0) scale(1.0);
}

#home:hover{
    color: rgb(0, 255, 0);  
    transform: translate(2px) scale(1.2);
}

#contato {
    color: gray;
    text-decoration: none;
    transition: transform 0.5s;
    transform: translate(0) scale(1.0);
}

#contato:hover{
    color: rgb(0, 255, 0);  
    transform: translate(2px) scale(1.2);
}

#musicas {
    color: gray;
    text-decoration: none;
    transition: transform 0.5s;
    transform: translate(0) scale(1.0);
}

#musicas:hover{
    color: rgb(0, 255, 0);
    transform: translate(2px) scale(1.2);
}

#playlists {
    color: gray;
    text-decoration: none;
    transition: transform 0.5s;
    transform: translate(0) scale(1.0);
}

#playlists:hover{
    color: rgb(0, 255, 0);
    transform: translate(2px) scale(1.2);
}

#login {
    color: gray;
    text-decoration: none;
    transition: transform 0.5s;
    transform: translate(0) scale(1.0);
}

#login:hover{
    color: rgb(0, 255, 0);
    transform: translate(2px) scale(1.2);
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}



#container2{
    position: absolute;
    top: 28%;
    left: 3%;
    height: 45%;
    width: 20%;
    background-color: white;
    box-shadow: 1px 1px 1px 2px black;
    cursor: pointer;
    transition: transform 1s;
    transform: translateX(0) scale(1.0);
}

#container2:hover,
#container2:focus{
    background: white;
    transform: translateX(5px) scale(1.2);
}

#adele{
    height: 100%;
    width: 100%;
}



#container3{
    position: absolute;
    top: 28%;
    left: 27.5%;
    height: 45%;
    width: 20%;
    background-color: white;
    box-shadow: 1px 1px 1px 2px black;
    cursor: pointer;
    transition: transform 1s;
    transform: translateX(0) scale(1.0);
}

#container3:hover,
#container3:focus{
    background: white;
    transform: translateX(5px) scale(1.2);
}

#sweather-weather{
    height: 100%;
    width: 100%;
}

#container4{
    position: absolute;
    top: 28%;
    left: 52%;
    height: 45%;
    width: 20%;
    background-color: white;
    box-shadow: 1px 1px 1px 2px black;
    cursor: pointer;
    transition: transform 1s;
    transform: translateX(0) scale(1.0);
}

#container4:hover,
#container4:focus{
    background: white;
    transform: translateX(5px) scale(1.2);
}

#pompei{
    height: 100%;
    width: 100%;
}

#container5{
    position: absolute;
    top: 28%;
    left: 76.5%;
    height: 45%;
    width: 20%;
    background-color: white;
    box-shadow: 1px 1px 1px 2px black;
    cursor: pointer;
    transition: transform 1s;
    transform: translateX(0) scale(1.0);
}

#container5:hover,
#container5:focus{
    background: white;
    transform: translateX(5px) scale(1.2);
}

#another-love{
    height: 100%;
    width: 100%;
}

#container6{
    position: absolute;
    top: 80%;
    left: 7.9%;
    background-color: rgb(18, 17, 17);
    height: 10vh;
    width: 40vw;
    box-shadow: 1px 1px 1px 2px black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, Helvetica, Arial, sans-serif;
    color: white;
    cursor: pointer;
}

#container6:hover{
    opacity: 0.7;
}

#subtitulo{
    color: gray;
}

#container7{
    position: absolute;
    top: 90%;
    left: 7.9%;
    background-color: rgb(18, 17, 17);
    height: 10vh;
    width: 40vw;
    box-shadow: 1px 1px 1px 2px black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, Helvetica, Arial, sans-serif;
    color: white;
    cursor: pointer;
}

#container7:hover{
    opacity: 0.7;
}

#subtitulo2{
    color: gray;
}

#container8{
    position: absolute;
    top: 90%;
    left: 51%;
    background-color: rgb(18, 17, 17);
    height: 10vh;
    width: 40vw;
    box-shadow: 1px 1px 1px 2px black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, Helvetica, Arial, sans-serif;
    color: white;
    cursor: pointer;
}

#container8:hover{
    opacity: 0.7;
}

#subtitulo2{
    color: gray;
}


#container9{
    position: absolute;
    top: 80%;
    left: 51%;
    background-color: rgb(18, 17, 17);
    height: 10vh;
    width: 40vw;
    box-shadow: 1px 1px 1px 2px black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, Helvetica, Arial, sans-serif;
    color: white;
    cursor: pointer;
}

#container9:hover{
    opacity: 0.7;
}

#subtitulo2{
    color: gray;
}

footer {
    background-color: black;
    height: 15%;
}

#contato-footer{
    letter-spacing: 3px;
      margin-left: 32px;
      font-family: system-ui, Helvetica, Arial, sans-serif;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 3rem 3.5rem;
      color: white;
  }

  #cloud{
    cursor: pointer;
    text-decoration: none;
  }

  #cloud:hover{              
    color: rgb(0, 255, 0);
    text-decoration: underline;
  }
  
  #apps{
    cursor: pointer;
    text-decoration: none;
  }

  #apps:hover{
    color: rgb(0, 255, 0);
    text-decoration: underline;
  }

  #twitter{
    cursor: pointer;
    text-decoration: none;
  }

  #twitter:hover{
    color: rgb(0, 255, 0);
    text-decoration: underline;
  }
  
  #instagram{
    cursor: pointer;
    text-decoration: none;
  }

  #instagram:hover{
    color: rgb(0, 255, 0);
    text-decoration: underline;
  }

  #youtube{
    cursor: pointer;
    text-decoration: none;
  }

  #youtube:hover{
    color: rgb(0, 255, 0);
    text-decoration: underline;
  }
  
 